pandas==2.1.4
plotly==5.22.0
dash==2.17.0
yahooquery==2.3.7
Flask-Caching==2.3.0
cachetools==5.3.3
scipy==1.13.0
dash-bootstrap-components==1.6.0
gunicorn==22.0.0
APScheduler==3.10.4
requests==2.31.0
exchange_calendars==4.5.4
dateparser==1.2.0
orjson==3.10.3
python-dotenv==1.0.1
