pandas==2.2.3
plotly==6.0.0
dash==2.18.2
yfinance==0.2.54
Flask-Caching==2.3.0
cachetools==5.5.2
scipy==1.15.2
dash-bootstrap-components==1.7.1
gunicorn==23.0.0
APScheduler==3.11.0
requests==2.32.3
exchange_calendars==4.9
dateparser==1.2.1
orjson==3.10.15
python-dotenv==1.0.1
numba==0.61.0
