pandas==2.1.4
yahooquery==2.3.7
dash==2.15.0
Flask-Caching==2.1.0
cachetools==5.3.2
scipy==1.12.0
dash-bootstrap-components==1.5.0
gunicorn==21.2.0
APScheduler==3.10.4
requests==2.31.0
exchange_calendars==4.5.2
dateparser==1.2.0
orjson==3.9.12
python-dotenv==1.0.1
